@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: url(../fut.jpg) no-repeat;
    background-position: center center;
  }

  .form-page {
    animation: myAnim 2s ease 0s 1 normal both;
  }

  @keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .social-logo:hover {
    opacity: 0.9;
  }

  .error-message {
  display: none;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

input{
    border: 1px solid #c8c2c2;
  
} 

input:focus{
  outline: 2px solid #2fa5d8;
  border: none;
}


  
  
}
